@import "./variables";
.h1,
.h2,
.h3 {
    font-family: "Futura";
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.1);
    background-color: #1f1f1f;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-align: center;
    @media screen and (max-width: 1024px) {
        color: $black;
    }
}
.h1 {
    font-size: 50px;
    margin-bottom: 0;
    @media screen and (max-width: 600px) {
        font-size: 30px;
    }
}
.h2 {
    font-size: 34px;
    text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.1);
    @media screen and (max-width: 600px) {
        font-size: 25px;
    }
}
.h3 {
    font-size: 30px;
    text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.1);
    margin-bottom: 0;
    @media screen and (max-width: 600px) {
        font-size: 20px;
    }
}
.container {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
    @media screen and (max-width: 600px) {
        display: block;
        padding: 0;
    }
}
.header {
    width: 100%;
    div {
        display: flex;
        justify-content: center;
        a.h1 {
            justify-content: center;
            display: flex;
            font-family: "Futura";
            color: transparent;
            height: min-content;
            text-decoration: none;
            text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.1);
            background-color: $black;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            text-align: center;
            font-size: 70px;
            font-weight: 800;
            margin: 0;
            transition: $transition;
            opacity: 1;
            overflow: hidden;
            @media screen and (max-width: 600px) {
                font-size: 50px;
                margin: 10px 0;
            }
            @media screen and (max-width: 1024px) {
                color: $black;
            }
        }
    }
}
.main {
    display: flex;
    flex-direction: column;
    max-width: 1180px;
    margin: auto;
}
.instructions {
    transition: $transition;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
        @media screen and (max-width: 600px) {
            margin-bottom: 0;
            flex-direction: column;
        }
    span {
        margin-left: 20px;
        display: flex;
        -moz-box-align: center;
        align-items: center;
        -moz-box-pack: center;
        justify-content: center;
        height: 0;
        width: 0;
        height: 40px;
        width: 40px;
        cursor: pointer;
        svg.settings {
            fill: $black;
            transition: transform 0.2s ease-in-out;
            transform: rotateZ(0);
            &:hover {
                fill: $orange;
            }
        }
        svg.settings_active {
            transform: rotateZ(360deg);
            fill: $black;
            transition: transform 0.2s ease-in-out;
            &:hover {
                fill: $orange;
            }
        }
    }
}
.practiceSelections {
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    border: 1px solid $dark_grey;
    div {
        border-right: 1px solid $dark_grey;
        font-weight: 800;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            transform: scale(0.5);
            g > path:nth-child(1) {
                fill: $blue;
            }
        }
    }
}
.selection {
    max-height: 60vh;
    transition: $transition;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .option {
        width: 40%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: space-between;
        margin: 20px 0;
        padding: 10px;
        @media screen and (max-width: 600px) {
            margin: 10px 0;
        }
        .option_label {
            @media screen and (max-width: 600px) {
                display: none;
            }
        }
        .noteContainer {
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 600px) {
                flex-wrap: wrap;
                justify-content: space-around;
            }
            .note {
                width: 100px;
                font-weight: 800;
                cursor: pointer;
                transition: $transition;
                @media screen and (max-width: 600px) {
                    width: 20px;
                    margin: 5px;
                }
            }
            .note:hover {
                background-color: $red;
            }
        }
        .noteSelected {
            height: 100px;
            text-align: center;
            font-weight: 800;
            font-size: 80px;
            background-color: $red;
            @media screen and (max-width: 600px) {
                display: none;
            }
        }
        .note_mobile {
            @media screen and (max-width: 1024px) {
                color: $red;
            }
        }
        .scaleContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            @media screen and (max-width: 600px) {
                flex-direction: column;
            }
            .scale {
                font-weight: 800;
                transition: $transition;
                cursor: pointer;
                @media screen and (max-width: 600px) {
                    margin: 5px;
                }
            }
            .scale:hover,
            .scaleSelected {
                background-color: $green;
                @media screen and (max-width: 1024px) {
                    color: $green;
                }
            }
        }
        .positionContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            @media screen and (max-width: 600px) {
                flex-direction: column;
            }
            .position {
                font-weight: 800;
                transition: $transition;
                cursor: pointer;
                @media screen and (max-width: 600px) {
                    margin: 5px;
                }
            }
            .position:hover,
            .positionSelected {
                background-color: $yellow !important;
                @media screen and (max-width: 1024px) {
                    color: $yellow !important;
                }
            }
        }
    }
    .instrumentContainer {
        display: flex;
        flex-direction: column;
        .instrument_selector {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            @media screen and (max-width: 600px) {
                flex-direction: column;
            }
        }
        .instrument {
            transition: $transition;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            h3 {
                margin: 0;
                margin-bottom: 30px;
                @media screen and (max-width: 600px) {
                    margin: 5px;
                }
            }
        }
        .instrument:hover,
        .instrumentSelected {
            h3 {
                background-color: $orange;
                @media screen and (max-width: 1024px) {
                    color: $orange;
                }
                
            }
        }
        .instrument_icon {
            display: flex;
            justify-content: center;
            svg {
                opacity: 0;
                transition: $transition;
                transform: scale(1.5);
                g {
                    g:first-of-type {
                        g {
                            opacity: 0;
                            transition: $transition;
                        }
                    }
                    g:nth-of-type(2) {
                        g {
                            opacity: 0;
                            transition: $transition;
                        }
                    }
                }
            }
            @media screen and (max-width: 600px) {
                display: none;
            }
        }
        .instrument_icon.hide_guitar {
            svg {
                opacity: 1;
                g {
                    g:first-of-type {
                        g {
                            opacity: 0;
                            transition: $transition;
                        }
                    }
                    g:nth-of-type(2) {
                        g {
                            opacity: 0;
                            transition: $transition;
                        }
                    }
                }
            }
        }
        .instrument_icon.hide_bass {
            svg {
                opacity: 1;
                g {
                    circle {
                        opacity: 0;
                        transition: $transition;
                    }
                    g:first-of-type {
                        g {
                            opacity: 1;
                            transition: $transition;
                        }
                    }
                    g:nth-of-type(2) {
                        g {
                            opacity: 1;
                            transition: $transition;
                        }
                    }
                }
            }
        }
    }
}
.footer {
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
        monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 3rem;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 45%;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}
